* {
    box-sizing: border-box;
}

body {
    background-color: #222222;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -8px;
    flex-direction: column;
}

header {
    position: absolute;
    top: 25px;
    left: 15px;
}

header a {
    padding: 10px;
    background-color: white ;
    color: black;
}

.characer_cont, .characer_cont > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.characer_cont > div {
    margin: 25px;
}

.characer_cont div h2, .characer_cont div li {
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.char_list {
    min-width: 100px;
    background-color: rgba(255,255,255,0.1);
}

.char_list > div {
    margin: 15px;
    padding: 5px;
}

.char_list li {
    box-sizing: border-box;
    padding: 8px 0;
    cursor: pointer;
    border: 1px solid transparent;
}

.char_list li:hover {
    border: 1px solid black;
}

.char_list li.selected {
    background-color: rgba(255,255,255,0.4);
    font-weight: bold;
}

#men {
    background-color: #74b9ff;
}

#women {
    background-color: #fab1a0;
}

#child.has_child {
    background-color: #7f7f7f;
}

.char_data {
    min-width: 400px;
    padding: 30px;
    padding-top: 50px;
}

.char_stats li {
    padding: 5px 15px;
}

.char_stats li p {
    display: inline-block;
    width: 95px;
    margin: 0;
}

.char_stats li p:last-child {
    font-weight: bolder;
}