body {
    background-color: #222222;
}

.characer_cont, #men, #women {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    box-sizing: border-box;
    padding: 10px 5px;
    cursor: pointer;
    border: 1px solid transparent;
}

.char_list li:hover {
    border: 1px solid black;
}

li.selected {
    background-color: rgba(255,255,255,0.4);
}

#men {
    background-color: #74b9ff;
    padding: 5px;
}

#women {
    background-color: #fab1a0;
    padding: 5px;
}

.char_data {
    padding: 30px;
    padding-top: 50px;
}

.char_data li p {
    display: inline;
}

.char_data li p {
    display: inline-block;
    width: 100px;
    margin: 0;
}