* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #222222;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: 38vw 1fr;
    grid-template-rows: 25% min-content 1fr;
    grid-template-areas: 
        "chars child"
        "chars swap-button"
        "chars class-stats";
}

header {
    position: absolute;
    top: 25px;
    left: 15px;
}

header a {
    padding: 10px;
    background-color: white ;
    color: black;
    border: 2px solid white;
    text-decoration: none;
}

header a:not(.active) {
    background-color: transparent;
    color: white;
}

main {
    height: 100%;
    width: 100%;
}

li {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.hidden {
    display: none !important;
}


/* Parent Lists */

#char_lists {
    display: flex;
    height: 100%;
    grid-area: chars;
}

ul {
    list-style: none;
}

ul li {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    width: 100%;
}

.parent {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.parent li {
    background-color: #222;
}

#men li {
    background-color: #74b9ff;
}

#women li {
    background-color: #fab1a0;
}

.parent li {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px;
    border: 2px solid transparent
}

.parent li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#men li.selected {
    border: 2px solid #74b9ff;
    background-color: #222;
    color: #74b9ff;
}

#women li.selected {
    border: 2px solid #fab1a0;
    background-color: #222;
    color: #fab1a0;
}


/* Child Stats */

#child {
    width: 100%;
    max-width: 300px;

    display: grid;
    grid-area: child;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


#child ul {
    color: #CCCCCC;
    font-weight: 300;
}

#child ul li {
    display: flex;
    height: 26px;
    padding: 12px 10px;
    border: 1px solid #333;
    text-align: center;
    justify-content: center;
}

#child ul li:first-child {
    font-weight: 700;
}

#child-label li {
    font-weight: 700;
}

#child ul li.positive {
    color: #2ecc71;
}

#child ul li.negative {
    color: #e74c3c;
}

#child ul#child-male li:first-child {
    color:rgba(116, 185, 255,1);
}

#child ul#child-female li:first-child {
    color:rgba(250, 177, 160, 1);
}


/* Swap Buttons */

#swap-button {
    grid-area: swap-button;
    width: 100%;
}

#swap-button button {
    width: 100%;
    font-size: 18px;
    padding: 5px;
}

#swap-button button.active {
    display: none;
}


/* Class List */

#class_list {
    display: flex;
    flex-direction: column;
    height: 100%;
    grid-area: chars;
}

#class-selector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

#class-selector button {
    flex-grow: 1;
    font-size: 16px;
    padding: 3px;
    background-color: #222;
    border: 2px solid white;
    color: white;
}

#class-selector button:nth-child(2) {
    border-left: 0px;
    border-right: 0px;
}

#class-selector button.active {
    background-color: white;
    color: black;
}


#class_list ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#class_list ul li {
    flex-grow: 1;
    height: auto;
    width: 100%;
    background-color: #eee;
    padding: 0 5px;
    color: black;
    border: 1px solid #ccc;
}

#class_list ul li:not(:first-child) {
    border-top: 0;
}

#class_list ul li.active {
    color: #213130;
    background-color: #A9f5f3;
    border-color: #A9f5f3;
    font-weight: 700;
}


/* Class Stats */

#class_stats {
    width: 100%;
    max-width: 300px;

    display: grid;
    grid-area: class-stats;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
}

#class_stats ul {
    flex-grow: 1;
    color: white;
}

#class_stats ul li {
    padding: 14px 0;
    height: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #555;
}

#class_stats ul li:first-child {
    padding: 25px 0;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        align-items: center;
    }
    ul li {
        font-size: 16px;
    }
    .parent li {
        padding: 0 8px;
    }
    #child {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: none;
    }
    #child ul {
        flex-grow: 1;
    }
    main {
        grid-template-areas: 
        "chars child"
        "chars swap-button"
        "chars class-stats";
    }
}

