* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    background-color: #222222;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

main {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
    "chars child"
    "chars extra-info"
    "chars extra-info";
}

header {
    position: absolute;
    top: 25px;
    left: 15px;
}

header a {
    padding: 10px;
    background-color: white ;
    color: black;
    border: 2px solid white;
    text-decoration: none;
}

header a:not(.active) {
    background-color: transparent;
    color: white;
}

main {
    height: 100%;
    width: 100%;
}

li {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#char_lists {
    display: flex;
    height: 100%;
    grid-area: chars;
}

ul {
    list-style: none;
}

ul li {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: fit-content;
    width: 100%;
}

.parent {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.parent li {
    background-color: #222;
}

#men li {
    background-color: #74b9ff;
}

#women li {
    background-color: #fab1a0;
}

.parent li {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 15px;
    border: 2px solid transparent
}

/* .parent#men li:not(.disabled):hover {
    background-color: rgba(116, 185, 255,0.8);
    color: black;
}

.parent#women li:not(.disabled):hover {
    background-color: rgba(250, 177, 160,0.8);
    color: black;
} */

.parent li.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#men li.selected {
    border: 2px solid #74b9ff;
    background-color: #222;
    color: #74b9ff;
}

#women li.selected {
    border: 2px solid #fab1a0;
    background-color: #222;
    color: #fab1a0;
}

#child {
    width: 100%;
    max-width: 300px;

    display: grid;
    grid-area: child;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


#child ul {
    color: #CCCCCC;
    font-weight: 300;
}

#child ul li {
    display: flex;
    height: 26px;
    padding: 12px 10px;
    border: 1px solid #333;
    text-align: center;
    justify-content: center;
}

#child ul li:first-child {
    font-weight: 700;
}

#child-label li {
    font-weight: 700;
}

#child ul li.positive {
    color: #2ecc71;
}

#child ul li.negative {
    color: #e74c3c;
}

#child ul#child-male li:first-child {
    color:rgba(116, 185, 255,1);
}

#child ul#child-female li:first-child {
    color:rgba(250, 177, 160, 1);
}

.highest-stat {
    max-width: 300px;
    padding: 5px;
    color: #CCCCCC;
}

.highest-stat p.highest-label {
    text-align: center;
    margin-bottom: 10px;
}

.highest-stat li {
    display: grid;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 1fr;
    margin-bottom: 15px;
    border-bottom: 1px solid #333333;
}

.highest-stat li p {
    font-size: 16px;
    font-weight: 300;
}

.highest-stat li p:first-child {
    font-weight: 500;
    text-align: end;
    padding-right: 10px;
}

.highest-stat li p:last-child {
    font-weight: 700;
}

#highest-male .highest-label {
    color: rgba(116, 185, 255,1);
    border-bottom: 1px solid rgba(116, 185, 255,1);
}

#highest-female .highest-label {
    color:rgba(250, 177, 160, 1);
    border-bottom: 1px solid rgba(250, 177, 160, 1);
}

#extra-info {
    grid-area: extra-info;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#extra-info-cont {
    flex-grow: 1;
}

#extra-info-buttons {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
}

#extra-info-buttons button {
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid white;
}

.info-menu:not(.active) {
    display: none;
}

.info-menu.active {
    display: flex;
    height: 100%;
    flex-direction: column;
}

#child-classes {
    align-items: flex-end;
}

#child-classes p#class-name {
    color: white;
}

#child-classes ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
}

.child-class {
    flex-grow: 1;
    
}

.child-class button {
    font-size: 14px;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 0 5px 0 5px;
}

@media only screen and (max-width: 600px) {
    body {
        justify-content: flex-start;
        align-items: center;
    }
    ul li {
        font-size: 16px;
    }
    .parent li {
        padding: 0 8px;
    }
    #child {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: none;
    }
    #child ul {
        flex-grow: 1;
    }
    main {
        grid-template-areas: 
        "chars child"
        "chars extra-info"
        "chars extra-info";
    }
    .highest-stat li {
        margin-bottom: 8px;
    }
    .highest-stat p.highest-label {
        margin-bottom: 4px;
    }
}

